configuration {
sidebar-mode: true;
show-icons: true;
font: "JetBrains Mono";
terminal: "alacritty";
kb-row-up: "super+k"; 
kb-row-down: "super+j";
kb-mode-next: "super+l";
kb-mode-previous: "super+h";
}

@theme "./catppuccin.rasi"
