configuration {
theme: "./colors-rofi.rasi";
lines: 12;
padding: 18;
width: 30;
font: "Open Sans 24";
location: 0;
show-icons: true;
kb-row-up: "super+k"; 
kb-row-down: "super+j"; 
kb-mode-next: "super+l";
kb-mode-previous: "super+h";
}



