* {
    border: none;
    border-radius: 0;
    font-family: Jetbrains Mono;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #f8f8f2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 3px;
	margin: 0 2px;
    background-color: #44475a;
    color: #f8f8f2;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #f8f8f2;
}

#workspaces button.focused {
    background-color: #f8f8f2;
	color: #282a36;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #f8f8f2;
	color: #282a36;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
	border-radius: 12;
    padding: 0 10px;
    margin: 0 4px;
}

#window,
#workspaces {
    margin: 0 4px;
	background-color: #282a36;
	color: #f8f8f2;
}

#window {
	padding: 0 10px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #282a36;
}

#battery {
    background-color: #f8f8f2;
    color: #282a36;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #cc241d;
    color: #282a36;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #8be9fd;
    color: #282a36;
}

#memory {
    background-color: #bd93f9;
    color: #282a36;
}

#disk {
    background-color: #964B00;
}

#backlight {
	  color: #282a36;
    background-color: #f8fa8c;
}

#network {
    background-color: #50fa7b;
	  color: #282a36;
}

#network.disconnected {
    background-color: #ff5555;
}

#pulseaudio {
    background-color: #ff79c6;
    color: #282a36;
}

#pulseaudio.muted {
    background-color: #ff79c6;
    color: #282a36;
}

#temperature {
	  color: #282a36;
    background-color: #ffb86c;
}

#temperature.critical {
    background-color: #ff5555;
}

#tray {
    background-color: #282a36;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #fb4934;
}

#idle_inhibitor {
    background-color: #282a36;
}

#idle_inhibitor.activated {
    background-color: #f8f8f2;
    color: #282a36;
}
