@define-color text #1e1e2e;
* {
    border: none;
    border-radius: 0;
    font-family: Jetbrains Mono;
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: #1e1e2e;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces {
    background-color: transparent;
}

#workspaces button {
    padding: 0 3px;
	margin: 0 2px;
    background-color: transparent;
    color: #cdd6f4;
}

#workspaces button.active {
	color: #94e2d5;
}

#workspaces button.urgent {
    color: #f38ba8;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#idle_inhibitor {
	border-radius: 12;
    padding: 0 10px;
    margin: 0 4px;
}

#workspaces {
    margin: 0 4px;
	background-color: transparent;
	color: #cdd6f4;
}

#window {
    margin: 0 4px;
	padding: 0 10px;
    border-radius: 12;
    background-color: #b4befe;
    font-weight: bold;
    color: @text;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    border-radius: 12;
    padding: 0 10px;
    font-weight: bold;
    background-color: #b4befe;
    color: @text;
}

#battery {
    background-color: #a6e3a1;
    color: @text;
}

#battery.charging, #battery.plugged {
    color: @text;
    background-color: #a6e3a1;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f38ba3;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #94e2d5;
    color: @text;
}

#memory {
    background-color: #89dceb;
    color: @text;
}

#disk {
    background-color: #74c7ec;
    color: @text;
}

#disk.disk2 {
    background-color: #89b4fa;
    color: @text;
}

#backlight {
    background-color: #f9e2af;
	color: @text;
}

#network {
    background-color: #f5c2e7;
	  color: @text;
}

#network.disconnected {
    background-color: #f38ba8;
}

#pulseaudio {
    background-color: #f2cdcd;
    color: @text;
}

#pulseaudio.muted {
    background-color: #f38ba8;
}

#temperature {
	color: @text;
    background-color: #eba0ac;
}

#temperature.critical {
    background-color: #f38ba8;
}

#tray {
    background-color: #cba6f7;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #fb4934;
}

#idle_inhibitor {
    background-color: #282a36;
}

#idle_inhibitor.activated {
    background-color: #f8f8f2;
    color: #282a36;
}
